ソート

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 

pd.set_option("display.max_rows", 5)

In [2]:
df = sns.load_dataset("diamonds")

In [3]:
df

       carat      cut color clarity  depth  table  price     x     y     z
0       0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

depth列を昇順にソート

In [4]:
df.sort_values("depth", ascending=True)

       carat    cut color clarity  depth  table  price     x     y     z
4518    1.00   Fair     G     SI1   43.0   59.0   3634  6.32  6.27  3.97
10377   1.09  Ideal     J     VS2   43.0   54.0   4778  6.53  6.55  4.12
...      ...    ...   ...     ...    ...    ...    ...   ...   ...   ...
52860   0.50   Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09
52861   0.50   Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09

[53940 rows x 10 columns]

depth列を昇順にソート(ascending = True省略可)

In [5]:
df.sort_values("depth")

       carat    cut color clarity  depth  table  price     x     y     z
4518    1.00   Fair     G     SI1   43.0   59.0   3634  6.32  6.27  3.97
10377   1.09  Ideal     J     VS2   43.0   54.0   4778  6.53  6.55  4.12
...      ...    ...   ...     ...    ...    ...    ...   ...   ...   ...
52860   0.50   Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09
52861   0.50   Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09

[53940 rows x 10 columns]

depth列を降順にソート

In [6]:
df.sort_values("depth", ascending=False)

       carat    cut color clarity  depth  table  price     x     y     z
52861   0.50   Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09
52860   0.50   Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09
...      ...    ...   ...     ...    ...    ...    ...   ...   ...   ...
10377   1.09  Ideal     J     VS2   43.0   54.0   4778  6.53  6.55  4.12
4518    1.00   Fair     G     SI1   43.0   59.0   3634  6.32  6.27  3.97

[53940 rows x 10 columns]

複数列(depth列、table列)でソート

In [8]:
df.sort_values(["depth", "table"])

       carat    cut color clarity  depth  table  price     x     y     z
10377   1.09  Ideal     J     VS2   43.0   54.0   4778  6.53  6.55  4.12
4518    1.00   Fair     G     SI1   43.0   59.0   3634  6.32  6.27  3.97
...      ...    ...   ...     ...    ...    ...    ...   ...   ...   ...
52860   0.50   Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09
52861   0.50   Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09

[53940 rows x 10 columns]